/* Login continer */
/* Login Container */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #00000014;
}

/* Login Card */
.login-card {
  background-color: #fff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.login-title {
  font-size: 1.8rem;
  color: #333;
  margin-bottom: 1.5rem;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 1.2rem;
  text-align: left;
}

.form-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #555;
}

.form-group input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.btn-login {
  background-color: #6a11cb;
  color: #fff;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #2575fc;
}

.login-footer {
  margin-top: 1rem;
  color: #666;
}
  